<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load markdownify %}
{% load jsonify %}



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=276021922793548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{{object.embed_code|safe}}
</body>
</html>