<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load markdownify %}
{% load jsonify %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/react-leaflet/dist/react-leaflet.min.js"></script>
    <script src="https://use.fontawesome.com/4cfb4dfef7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-24704798-11', 'auto');
        ga('create', 'UA-71696131-1', 'auto', 'appsTracker');
        ga('send', 'pageview');
        ga('appsTracker.send', 'pageview');
    </script>

    <script>
        var signalsByType = [];
        {% for type in types %}
        signalsArr = [];
        {% for signal in type.signals.all %}
        signalsArr.push({
            date_time: "{{signal.date_time}}",
            lat: {{signal.location.latitude}},
            long: {{signal.location.longitude}},
            source_user: '{{signal.source_user}}',
                pull_quote: "{{signal.pull_quote}}",
            social_network: "{{signal.social_verbose}}",
            embed_code: "{{signal.embed_code}}",
            embed_url: "{{signal.get_absolute_url}}"
        });
        {% endfor %}
        signalsByType['{{type.slug}}'] = {
            name: '{{type.name}}',
            signals: signalsArr.slice()
        };
        window.signalsByType = signalsByType;
        {% endfor %}
    </script>
    <script src="{% static 'app.js' %}"></script>
    <style>
        .leaflet-container {
            height: 600px;
            width: 100%;
            margin: 0;
        }
    </style>

</head>
<body>

<div id="react-target"></div>
</body>
</html>